.m-songs {
  text-align: left;
}
.m-songs .songsItem {
  display: flex;
  color: #333;
  padding-left: 10px;
}
.m-songs .songsItem .sgfl {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  font-size: 17px;
  color: #999;
  margin-left: -10px;
  display: flex;
}
.m-songs .songsItem .sgfl.sgfl-cred {
  color: #df3436;
}
.m-songs .songsItem .songfr {
  position: relative;
  flex: 1 1 auto;
  display: flex;
}
.m-songs .songsItem .songfr .songchfl {
  padding: 6px 0;
  width: 0;
  color: #333;
  flex: 1 1 auto;
}
.m-songs .songsItem .songfr .songchfl .songtl {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  font-size: 17px;
}
.m-songs .songsItem .songfr .songchfl .songinfo {
  font-size: 12px;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}
.m-songs .songsItem .songfr .songchfl .songinfo .songhot {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 4px;
}
.m-songs .songsItem .songfr .sgchfr {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.m-songs .songsItem .songfr .sgchfr .songsPlay {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -24px 0;
}
