.f-bd:after {
  position: absolute;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  border: 0 solid rgba(0, 0, 0, 0.1);
}
.f-bd-btm:after {
  border-bottom-width: 1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .f-bd:after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.333333);
    -ms-transform: scale(0.333333);
    transform: scale(0.333333);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .f-bd:after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .f-bd:after {
    width: 150%;
    height: 150%;
    -webkit-transform: scale(0.666666);
    -ms-transform: scale(0.666666);
    transform: scale(0.666666);
  }
}
.f-db {
  position: relative;
}
.f-db::after {
  position: absolute;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  border: 0 solid rgba(0, 0, 0, 0.1);
  width: 300%;
  height: 300%;
  -webkit-transform: scale(0.333333);
  -ms-transform: scale(0.333333);
  transform: scale(0.333333);
}
.scrollY {
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollX {
  overflow-x: auto;
  overflow-y: hidden;
}
.u-hmsprt {
  background: url("http://s3.music.126.net/mobile-new/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880=") no-repeat;
  background-size: 166px 97px;
}
.highlight {
  color: #507daf;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}
i {
  color: #ccc;
  font-size: 14px;
}
